
@import 'config';

.account-actions {
    display: none;
    
    .main {
        background: $themecolor;
        width: 60%;
        height: 100vh;
        box-shadow: 2px 0 2px rgba(0,0,0,.5);

        .profile-details {
            padding: 20px;

            .img-div {
                @include fillParent();
                border-radius: 50%;
    
            }

            .name {
                @include fillParent();
                color: white;
            }

        }
    }
    
    .inactive-closer {
        background: transparent;
        width: 40%;
        height: 100vh;
    }

    &.open {
        left: 0;
        transition: 0.5s;
    }
}

@import 'mobile';